.footer {
    width: 100%;
    max-width: 1024px;
    padding: 50px 0;

}

.footer__lists {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer__list {
    list-style: none;
}

.footer__list-item {
    margin-bottom: 10px;
}

.footer__text {
    text-align: center;
    margin-top: 50px;
}