.featured__properties {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: -1;
}

.featured__properties-item {
    flex: 1;
    gap: 10px;
    flex-direction: column;
    display: flex;

}

.featured__properties-img {
    width: 100%;
}

.featured__properties-name {
    font-weight: 300;
}

.featured__properties-price {
    font-weight: 500;
}

.featured__properties-rating > button {
    background-color: #003580;
    color: white;
    outline: none;
    border: none;
    padding: 3px;
    margin-right: 10px;
}

.featured__properties-rating > span {
    font-size: 14px;
}