.header {
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
}

.header__container {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
}

.header__container.list__mode {
    margin-bottom: 0;
    padding-bottom: 10px;
}

.header__list{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__list-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__list-item.active {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}

.header__desc {
    margin: 20px 0;
}

.header__btn {
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
}

.header__search {
    height: 30px;
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    border-radius: 5px;
    position: absolute;
    /* bottom: -25px; */
    width: 100%;
    max-width: 1024px;
    margin-top: 15px;
    padding: 15px 0;
}

.header__search-icon {
    color: lightgray;
}

.header__search-item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.header__search-input {
    border: none;
    outline: none;

}

.header__search-date {
    color: rgb(34, 30, 30);
    position: relative;
}

.date {
    position: absolute;
    top: 50px;
    left: -100px;
}

.header__search-text {
    color: gray;
}

/* continue with the video at minutes 24:45 */



.options {
    position: absolute;
    top: 50px;
    background-color: white;
    color: gray;
    border-radius: 5px;
}

.options__item {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.options__btn-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
}

.option__text {
    margin-right: 10px;
}

.option__counter-btn {
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    cursor: pointer;
    color: #0071c2;
    background-color: white;
}


.option__counter-btn:disabled {
    cursor: not-allowed;
}